<html>

<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="app.component.css">
</head>

<body>

  <form align="center">
    <h1>LOGIN PAGE</h1>

    <div class="content">
      
      <div class="f1">
        <label for="Username"><b>Username</b></label>
        <input type="text" placeholder="enter your username" name="name"><br>
      </div>

      <div class="f2">
        <label><b>Password</b></label>
        <input type="password" placeholder="enter your Password" name="password"><br>
      </div>
      
      <div class="fp">
        <label><i><span class="psw">Forgot <u><a href="#">password?</a></u></span></i></label>
      </div>

      <button>LOGIN</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>

    </div>

  </form>
  
</body>

</html>